# 사후분석 (post hoc)

## #01. 사후분석 개요
ANOVA 검증결과 유의미하다는 결론을 얻었을 떄 구체적으로 어떤 수준에서 평균차이가 나는지 검증하는 방법

연구자의 사전가설없이 ANOVA를 시행한 경우 탐색적으로 평균차이가 나는 수준을 살펴보기위해 시행하는 방법

조합가능한 모든 쌍에 대해 비교를 하므로 과잉검증으로 인한 FWER 증가

### FWER ( 가족오류율 )

가설 검정에서 여러개의 가설을 동시에 비교하는 경우, 각 가설을 독립적으로 검정할 때 발생하는 오류 확률이 증가한다.
FWER는 이러한 가설 중 어느 하나라도 잘못 기각되는 발생할 확률

가설검정을 많이 할 수록 FWER은 증가

### 대표적인 사후분석 방법

유의수준을 보정하여 FWER을 0.05로 고정시킴

- 봉페로니 교정 (일반적으로 널리 사용됨)
- 투키의 HSD (일반적으로 널리 사용됨)
- 피셔의 LSD : 실제로 보정을 하지 않는 방법이므로 사용하지 않음.
- 셰페의 방법 : 지나치게 보수적이어서 사용하지 않음

## #02. 작업 준비
### 패키지 가져오기

In [3]:
import pandas as pd

# 분산분석을 위한 라이브러리
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# 사후분석을 위한 라이브러리
from statsmodels.sandbox.stats.multicomp import MultiComparison
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from scipy.stats import ttest_ind

# helper 참조
import sys
import os
sys.path.append(os.path.dirname(os.path.dirname(os.getcwd())))
from helper import normality_test, equal_variance_test, independence_test, all_test

## #03. 예제 (1)
품종별 나무 무게 조사 데이터
### 데이터 가져오기

In [4]:
df = pd.read_excel("https://data.hossam.kr/E02/tree_weight.xlsx")
df

    weight group
0     4.17     A
1     5.58     A
2     5.18     A
3     6.11     A
4     4.50     A
5     4.61     A
6     5.17     A
7     4.53     A
8     5.33     A
9     5.14     A
10    4.81     B
11    4.17     B
12    4.41     B
13    3.59     B
14    5.87     B
15    3.83     B
16    6.03     B
17    4.89     B
18    4.32     B
19    4.69     B
20    6.31     C
21    5.12     C
22    5.54     C
23    5.50     C
24    5.37     C
25    5.29     C
26    4.92     C
27    6.15     C
28    5.80     C
29    5.26     C

### 데이터 전처리

In [5]:
df2 = df.copy()
df2['group']=df2['group'].map({"A":0,"B":1,"C":2})
df2

    weight  group
0     4.17      0
1     5.58      0
2     5.18      0
3     6.11      0
4     4.50      0
5     4.61      0
6     5.17      0
7     4.53      0
8     5.33      0
9     5.14      0
10    4.81      1
11    4.17      1
12    4.41      1
13    3.59      1
14    5.87      1
15    3.83      1
16    6.03      1
17    4.89      1
18    4.32      1
19    4.69      1
20    6.31      2
21    5.12      2
22    5.54      2
23    5.50      2
24    5.37      2
25    5.29      2
26    4.92      2
27    6.15      2
28    5.80      2
29    5.26      2

### 일원분산분석(전)

정규성, 등분산성, 독립성

In [7]:
all_test(df2['group'],df2['weight'])

                                     Statistic       p-value  Result
Condition Test      Field
정규성       Shapiro   group             0.795503  5.434527e-05   False
                    weight            0.982683  8.915055e-01    True
          normal    group            17.211505  1.830498e-04   False
                    weight            0.568335  7.526404e-01    True
          k-s_2samp group vs weight   1.000000  1.691123e-17   False
                    weight vs group   1.000000  1.691123e-17   False
등분산성      Bartlett  group vs weight   0.812217  3.674655e-01    True
          Fligner   group vs weight   1.419281  2.335219e-01    True
          Levene    group vs weight   0.849158  3.606080e-01    True
독립성       Chi2      group vs weight  15.905074  9.765907e-01    True

### 일원분산분석

In [8]:
model = ols("weight ~ C(group)",data=df2).fit()
anova_lm(model)

            df    sum_sq   mean_sq         F   PR(>F)
C(group)   2.0   3.76634  1.883170  4.846088  0.01591
Residual  27.0  10.49209  0.388596       NaN      NaN

#### 결과해석

1. p값이 0.05보다 작기 떄문에 그룹에 따른 무게의 평균의 차이가 통계쩍으로 유의하다

### 사후분석
#### 본페로니 교정

- Bonferroni correction
- 모든 집단을 짝지어 t-test
- FWER이 중간정도
 > pval_corr 값이 0.05보다 작은 항목만 통계적으로 유의함

In [15]:
### MultiComparison(결과값,조건값)

comp = MultiComparison(df2['weight'],df2['group'])
result = comp.allpairtest(ttest_ind,method='bonf')
result[0]

### 결과해석
- pval을 확인한 결과 group에 있는 집단을 쌍을 지어 평균차이를 검정한결과 
1. 0과 1은 평균차이가 없다
2. 0과1, 1과2는 평균차이가 있따 

- pval_corr을 분석한 결과
1. 0.05보다 낮은게 1과2의 평균 차이를 검정한거 밖에 없음 : 통계적으로 유의한 차이가 난다

### 투키의 HSD

FWER이 중간정도

In [17]:
hsd = pairwise_tukeyhsd(df2['weight'],df2['group'],alpha=0.05)

hsd.summary()

- meandiff : 각 그룹간 평균의 차이
- p-adj : 그룹간 차이에 따른 p값
- lower & upper : 평균차이에 대한 신뢰구간
- reject : 가설의 채택여부

## 예제(2) 
독극물 실험 데이터

Time	동물의 생존시간

poison	사용된 독극물 종류

treat	사용되는 치료 유형
### 데이터 가져오기

In [21]:
df = pd.read_excel("https://data.hossam.kr/E02/poisons.xlsx")
df

    time  poison treat
0   0.31       1     A
1   0.45       1     A
2   0.46       1     A
3   0.43       1     A
4   0.36       2     A
5   0.29       2     A
6   0.40       2     A
7   0.23       2     A
8   0.22       3     A
9   0.21       3     A
10  0.18       3     A
11  0.23       3     A
12  0.82       1     B
13  1.10       1     B
14  0.88       1     B
15  0.72       1     B
16  0.92       2     B
17  0.61       2     B
18  0.49       2     B
19  1.24       2     B
20  0.30       3     B
21  0.37       3     B
22  0.38       3     B
23  0.29       3     B
24  0.43       1     C
25  0.45       1     C
26  0.63       1     C
27  0.76       1     C
28  0.44       2     C
29  0.35       2     C
30  0.31       2     C
31  0.40       2     C
32  0.23       3     C
33  0.25       3     C
34  0.24       3     C
35  0.22       3     C
36  0.45       1     D
37  0.71       1     D
38  0.66       1     D
39  0.62       1     D
40  0.56       2     D
41  1.02       2     D
42  0.71       2     D
43  0.38       2     D
44  0.30       3     D
45  0.36       3     D
46  0.31       3     D
47  0.33       3     D

#### 데이터 전처리

In [22]:
df2= df.copy()
df2['treat']=df2['treat'].map({"A":1,"B":2,"C":3,"D":4})
df2.head()

   time  poison  treat
0  0.31       1      1
1  0.45       1      1
2  0.46       1      1
3  0.43       1      1
4  0.36       2      1

In [24]:
df2.dtypes

time      float64
poison      int64
treat       int64
dtype: object

### 이원분산분석

정규성, 등분산성, 독립성 검정 생략

In [25]:
model = ols("time ~ C(poison)*C(treat)",data=df2).fit()
anova_lm(model)

                      df    sum_sq   mean_sq          F        PR(>F)
C(poison)            2.0  1.033012  0.516506  23.221737  3.331440e-07
C(treat)             3.0  0.921206  0.307069  13.805582  3.777331e-06
C(poison):C(treat)   6.0  0.250138  0.041690   1.874333  1.122506e-01
Residual            36.0  0.800725  0.022242        NaN           NaN

> 교호작용 없음, poison이랑 treat은 평균차이 존재

### 사후분석 Bonferoni

poison에 대한 본페로니 교정

In [27]:
comp = MultiComparison(data=df2['time'],groups=df2['poison'])
result = comp.allpairtest(ttest_ind,method='bonf')
result[0]

treat에 대한 본페로니 교정

In [30]:
comp = MultiComparison(df2['time'],df2['treat'])
result = comp.allpairtest(ttest_ind,method='bonf')
result[0]

### 사후분석 Tukey

poison에 대한 사후분석

In [31]:
hsd = pairwise_tukeyhsd(df2['time'],df2['poison'],alpha=0.05)
hsd.summary()

In [32]:
hsd = pairwise_tukeyhsd(df2['time'],df2['treat'],alpha=0.05)
hsd.summary()