In [1]:
import pandas as pd

In [51]:
hmotel = pd.read_csv('서울시숙박업.csv',encoding='cp949')
hmotel.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,세탁기수,여성종사자수,남성종사자수,회수건조수,침대수,다중이용업소여부
0,3010000,3010000-214-2021-00001,2021-01-15,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3010000,3010000-201-2019-00008,2019-08-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3010000,3010000-214-2023-00002,2023-03-13,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3010000,3010000-201-2017-00010,2017-04-26,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3010000,3010000-201-2017-00011,2017-04-26,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
bad = pd.read_csv('서울시 유흥주점영업.csv',encoding='cp949')
bad.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3220000,3220000-102-2018-00006,2018-12-11,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3230000,3230000-102-2017-00004,2017-05-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3130000,3130000-102-2002-00004,20021029,NaN,3,폐업,2,폐업,20130620,NaN,...,NaN,NaN,NaN,NaN,NaN,N,82.4,NaN,NaN,NaN
3,3180000,3180000-102-2001-14135,2001-10-19,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3210000,3210000-102-1982-06377,1982-02-06,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
hmotel.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '건물지상층수', '건물지하층수',
       '사용시작지상층', '사용끝지상층', '사용시작지하층', '사용끝지하층', '한실수', '양실수', '욕실수', '발한실여부',
       '좌석수', '조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명', '세탁기수',
       '여성종사자수', '남성종사자수', '회수건조수', '침대수', '다중이용업소여부'],
      dtype='object')

In [54]:
hmotel_col = ['개방자치단체코드','관리번호','영업상태명','상세영업상태명','소재지면적','지번주소','도로명주소','사업장명','업태구분명','좌표정보(X)','좌표정보(Y)']

In [55]:
hmotel = hmotel.loc[:,hmotel_col]
hmotel.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781
1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160
2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630
3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667
4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936

In [56]:
bad.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [57]:
len(hmotel_col)

11

In [58]:
bad_col = ['개방자치단체코드','관리번호','영업상태명','상세영업상태명','소재지면적','지번주소','도로명주소','사업장명','업태구분명','좌표정보(X)','좌표정보(Y)']
len(bad_col)

11

In [59]:
hmotel.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781
1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160
2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630
3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667
4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936

In [60]:
hmotel[['시','구','상세주소']] = hmotel['도로명주소'].str.split(' ',n=2,expand=True)

In [61]:
hmotel.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781,서울특별시,중구,"충무로 24, 3~17층 (인현동1가)"
1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160,서울특별시,중구,"퇴계로18길 43, 지층, 1~2층 (남산동2가)"
2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630,서울특별시,중구,남대문로 27 (남대문로3가)
3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667,서울특별시,중구,"퇴계로18길 41 (남산동2가, 1~2층)"
4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936,서울특별시,중구,"퇴계로18길 37 (남산동2가, 1,2층)"

In [65]:
hmotel.isnull().sum()

개방자치단체코드       0
관리번호           0
영업상태명          0
상세영업상태명        0
소재지면적          6
지번주소          11
도로명주소       2678
사업장명           0
업태구분명          0
좌표정보(X)      724
좌표정보(Y)      724
시           2678
구           2678
상세주소        2678
dtype: int64

In [63]:
bad = bad.loc[:,bad_col]

In [64]:
bad.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,3220000,3220000-102-2018-00006,영업/정상,영업,311.39,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층","서울특별시 강남구 테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)",스크린노래,룸살롱,203330.125000,444424.745000
1,3230000,3230000-102-2017-00004,영업/정상,영업,85.41,서울특별시 송파구 가락동 98-7,"서울특별시 송파구 송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)",골드1,룸살롱,210491.321884,443569.763243
2,3130000,3130000-102-2002-00004,폐업,폐업,82.40,서울특별시 마포구 합정동 382-22번지 지하1층,NaN,??,룸살롱,NaN,NaN
3,3180000,3180000-102-2001-14135,영업/정상,영업,83.18,서울특별시 영등포구 신길동 449-22 신성빌딩,"서울특별시 영등포구 영등포로 400, 신성빌딩 지하1층 (신길동)",린스,룸살롱,193084.355458,445642.841120
4,3210000,3210000-102-1982-06377,영업/정상,영업,126.00,서울특별시 서초구 잠원동 12-21,서울특별시 서초구 강남대로 615 (잠원동),만남,룸살롱,201601.185141,446044.757176

In [66]:
bad[['시','구','상세주소']] = bad['도로명주소'].str.split(' ',n=2,expand=True)
bad.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
0,3220000,3220000-102-2018-00006,영업/정상,영업,311.39,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층","서울특별시 강남구 테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)",스크린노래,룸살롱,203330.125000,444424.745000,서울특별시,강남구,"테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)"
1,3230000,3230000-102-2017-00004,영업/정상,영업,85.41,서울특별시 송파구 가락동 98-7,"서울특별시 송파구 송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)",골드1,룸살롱,210491.321884,443569.763243,서울특별시,송파구,"송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)"
2,3130000,3130000-102-2002-00004,폐업,폐업,82.40,서울특별시 마포구 합정동 382-22번지 지하1층,NaN,??,룸살롱,NaN,NaN,NaN,NaN,NaN
3,3180000,3180000-102-2001-14135,영업/정상,영업,83.18,서울특별시 영등포구 신길동 449-22 신성빌딩,"서울특별시 영등포구 영등포로 400, 신성빌딩 지하1층 (신길동)",린스,룸살롱,193084.355458,445642.841120,서울특별시,영등포구,"영등포로 400, 신성빌딩 지하1층 (신길동)"
4,3210000,3210000-102-1982-06377,영업/정상,영업,126.00,서울특별시 서초구 잠원동 12-21,서울특별시 서초구 강남대로 615 (잠원동),만남,룸살롱,201601.185141,446044.757176,서울특별시,서초구,강남대로 615 (잠원동)

In [67]:
hmotel.isnull().sum()

개방자치단체코드       0
관리번호           0
영업상태명          0
상세영업상태명        0
소재지면적          6
지번주소          11
도로명주소       2678
사업장명           0
업태구분명          0
좌표정보(X)      724
좌표정보(Y)      724
시           2678
구           2678
상세주소        2678
dtype: int64

In [70]:
hmotel['영업상태명'].unique()

array(['영업/정상', '폐업'], dtype=object)

In [68]:
len(hmotel.loc[hmotel['상세영업상태명']=='폐업',:])

4203

In [71]:
hmotel = hmotel.loc[(hmotel['좌표정보(X)'].notnull())&(hmotel['좌표정보(Y)'].notnull()),:]
hmotel.isnull().sum()

개방자치단체코드       0
관리번호           0
영업상태명          0
상세영업상태명        0
소재지면적          5
지번주소          11
도로명주소       1961
사업장명           0
업태구분명          0
좌표정보(X)        0
좌표정보(Y)        0
시           1961
구           1961
상세주소        1961
dtype: int64

In [72]:
bad.isnull().sum()

개방자치단체코드       0
관리번호           0
영업상태명          0
상세영업상태명        0
소재지면적        349
지번주소           2
도로명주소       2097
사업장명           0
업태구분명          0
좌표정보(X)      249
좌표정보(Y)      249
시           2097
구           2097
상세주소        2097
dtype: int64

In [73]:
bad = bad.loc[(bad['좌표정보(X)'].notnull())&(bad['좌표정보(Y)'].notnull()),:]
bad.isnull().sum()

개방자치단체코드       0
관리번호           0
영업상태명          0
상세영업상태명        0
소재지면적        298
지번주소           2
도로명주소       1853
사업장명           0
업태구분명          0
좌표정보(X)        0
좌표정보(Y)        0
시           1853
구           1853
상세주소        1853
dtype: int64

In [75]:
hmotel.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781,서울특별시,중구,"충무로 24, 3~17층 (인현동1가)"
1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160,서울특별시,중구,"퇴계로18길 43, 지층, 1~2층 (남산동2가)"
2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630,서울특별시,중구,남대문로 27 (남대문로3가)
3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667,서울특별시,중구,"퇴계로18길 41 (남산동2가, 1~2층)"
4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936,서울특별시,중구,"퇴계로18길 37 (남산동2가, 1,2층)"

In [76]:
bad.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
0,3220000,3220000-102-2018-00006,영업/정상,영업,311.39,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층","서울특별시 강남구 테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)",스크린노래,룸살롱,203330.125000,444424.745000,서울특별시,강남구,"테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)"
1,3230000,3230000-102-2017-00004,영업/정상,영업,85.41,서울특별시 송파구 가락동 98-7,"서울특별시 송파구 송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)",골드1,룸살롱,210491.321884,443569.763243,서울특별시,송파구,"송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)"
3,3180000,3180000-102-2001-14135,영업/정상,영업,83.18,서울특별시 영등포구 신길동 449-22 신성빌딩,"서울특별시 영등포구 영등포로 400, 신성빌딩 지하1층 (신길동)",린스,룸살롱,193084.355458,445642.841120,서울특별시,영등포구,"영등포로 400, 신성빌딩 지하1층 (신길동)"
4,3210000,3210000-102-1982-06377,영업/정상,영업,126.00,서울특별시 서초구 잠원동 12-21,서울특별시 서초구 강남대로 615 (잠원동),만남,룸살롱,201601.185141,446044.757176,서울특별시,서초구,강남대로 615 (잠원동)
5,3190000,3190000-102-1978-01868,폐업,폐업,98.00,서울특별시 동작구 신대방동 607-28,"서울특별시 동작구 시흥대로 646, 지하1층 (신대방동)",수,스텐드바,191742.193945,443042.735398,서울특별시,동작구,"시흥대로 646, 지하1층 (신대방동)"

In [74]:
hmotel.to_excel('숙박업소_현황.xlsx')
bad.to_excel('유흥업소_현황.xlsx')