# T3-example 예시문제

주어진 데이터는 고혈압 환자 치료 전후의 혈압이다. 해당 치료가 효과가 있는지 대응(쌍체)표본 t-검정을 진행하시오
- 귀무가설(H0):  
  μ >= 0

- 대립가설(H1):  

   μ  < 0

- μ = (치료 후 혈압 - 치료 전 혈압)의 평균

- 유의수준: 0.05
- μ 의 표본평균은?(소수 둘째자리까지 반올림)
- 검정통계량 값은?(소수 넷째자리까지 반올림)
- p-값은?(소수 넷째자리까지 반올림)
- 가설검정의 결과는? (유의수준 5%)

In [9]:
import pandas as pd 
from scipy import stats
df = pd.read_csv("high_blood_pressure.csv")
df.head()

     Id     sex  age  bp_pre  bp_post
0  p001    Male   33     149      129
1  p002    Male   39     168      168
2  p003    Male   70     176      155
3  p004  Female   41     169      178
4  p005    Male   48     160      126

In [13]:
## 상체표보이기 떄문에 차이 구해야함
df['diff'] = df['bp_post'] - df['bp_pre'] 
df

## 표본평균
print("표본평균 : ",round(df['diff'].mean()),2)

## 상체표본 t검정 
## 검정통계량 값 & p값

st, pv = stats.ttest_rel(df['bp_post'],df['bp_pre'],alternative='less')
print("검정 통계량 : ",round(st,4))

print("p-value : ",round(pv,4))

## p값이 0.05보다 작기 떄문에 대립가설 채택

표본평균 :  -6 2
검정 통계량 :  -3.0002
p-value :  0.0016

# T3-ttest_ind (독립표본 T검정)

어떤 특정 약물을 복용한 사람들의 평균 체온이 복용하지 않은 사람들의 평균 체온과 유의미하게 다른지 검정해보려고 합니다.

가정:

약물을 복용한 그룹과 복용하지 않은 그룹의 체온 데이터가 각각 주어져 있다고 가정합니다.
각 그룹의 체온은 정규분포를 따른다고 가정합니다.

검정통계량, p-value, 검정결과를 출력하시오

In [15]:
from scipy import stats
# 데이터 수집
group1 = [36.8, 36.7, 37.1, 36.9, 37.2, 36.8, 36.9, 37.1, 36.7, 37.1]
group2 = [36.5, 36.6, 36.3, 36.6, 36.9, 36.7, 36.7, 36.8, 36.5, 36.7]

t,pv = stats.ttest_ind(group1,group2)
## 검정통계량 & p-values -> 유의수준 0.05

print('검정통계량 : ',t )

print("P값 : ",pv)

검정통계량 :  3.7964208654863336
P값 :  0.001321891476703691

# T3-ttest_1samp

### 문제: 다음은 22명의 학생들이 국어시험에서 받은 점수이다. 학생들의 평균이 75보다 크다고 할 수 있는가?

- 귀무가설(H0): 모평균은 mu와 같다. (μ = mu), 학생들의 평균은 75이다
- 대립가설(H1): 모평균은 mu보다 크다. (μ > mu), 학생들의 평균은 75보다 크다

가정:

모집단은 정규분포를 따른다.

표본의 크기가 충분히 크다.

In [21]:
from scipy import stats
scores = [75, 80, 68, 72, 77, 82, 81, 79, 70, 74, 76, 78, 81, 73, 81, 78, 75, 72, 74, 79, 78, 79]

mu = 75
alpha = 0.05
## 단일표본 t검정 
## stats.ttest_1samp(데이터,모평균,alternative(큰지작은지)="less" or "greater")
t_stat , pv = stats.ttest_1samp(scores,mu,alternative = 'greater')
print(pv)

0.04597614747709146

# T3-anova 일원배치법

세 가지 다른 교육 방법(A, B, C)을 사용하여 수험생들의 시험 성적을 개선시키는 효과를 평가하고자 한다. 30명의 학생들을 무작위로 세 그룹으로 배정하여 교육을 실시하였고, 시험을 보고 성적을 측정하였습니다. 다음은 각 그룹의 학생들의 성적 데이터입니다.

일원배치법을 수행하여 그룹 간의 평균 성적 차이가 있는지 검정하세요¶

- f값 (소수 둘째자리)

- p값 (소수 여섯째자리)

- 검정결과 출력

In [22]:
from scipy import stats


groupA = [85, 92, 78, 88, 83, 90, 76, 84, 92, 87]
groupB = [79, 69, 84, 78, 79, 83, 79, 81, 86, 88]
groupC = [75, 68, 74, 65, 77, 72, 70, 73, 78, 75]

In [26]:
f_stat, pv = stats.f_oneway(groupA,groupB,groupC)
print(f_stat,pv)

16.884107946026987 1.752985223798021e-05

# T3-Shapiro-Wilk

12명의 수험생이 빅데이터 분석기사 시험에서 받은 점수이다. Shapiro-Wilk 검정을 사용하여 데이터가 정규 분포를 따르는지 검증하시오

- 귀무 가설(H0): 데이터는 정규 분포를 따른다.

- 대립 가설(H1): 데이터는 정규 분포를 따르지 않는다.

- Shapiro-Wilk 검정 통계량, p-value, 검증결과를 출력하시오

In [27]:
from scipy import stats

data = [75, 83, 81, 92, 68, 77, 78, 80, 85, 95, 79, 89]

stat,pv = stats.shapiro(data)
print(stat, pv)

0.9768089652061462 0.9676492810249329

# T3-correlation

iris에서 Sepal Length와 Sepal Width의 상관계수 계산하고 소수 둘째자리까지 출력하시오

In [28]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [34]:
df_corr = df.corr()
round(df_corr.loc["sepal length (cm)","sepal width (cm)"],2)

-0.12