데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오

In [7]:
import numpy as np
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
## 이상치 : iqr로 찾아내면 됌 

## IQR

Q1 = df['Fare'].quantile(.25)
Q3 = df['Fare'].quantile(.75)

IQR = Q3-Q1
# print(IQR)

outdata1 = df[df['Fare']< Q1 - 1.5 * IQR]
outdata2 = df[df['Fare']> Q3 - 1.5 * IQR]

print(len(outdata1), len(outdata2))
print(sum(outdata2['Sex'] == "female"))

0 891
314

소수점 나이를 찾고 올림 내림 버림 했을 떄 age 평균 구하고 모두 더해서 출력

In [18]:
df = pd.read_csv('basic1.csv')
df = df[df['age'] - np.floor(df['age'])!=0]
df

      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397

In [22]:
# 내림
df_floor = np.floor(df['age']).mean()

# 올림
df_ceil = np.ceil(df['age']).mean()

# 버림 
df_trunc = np.trunc(df['age']).mean()

print(df_floor+df_ceil+df_trunc)

69.5

map 활용 결측치 처리

주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!

In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("basic1.csv")
## 결측값 확인 
print(df.isnull().sum())
## 결측 비율
print(df.shape)
print(df.isnull().sum()/df.shape[0])
print(df.head())
df = df.drop(columns=['f3'])
df

## 도시값 확인

df['city'].unique()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64
(100, 8)
id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64
     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

array(['서울', '부산', '대구', '경기'], dtype=object)

In [19]:
seoul = df[df['city'] == "서울"]['f1'].median()
busan = df[df['city'] == '부산']['f1'].median()
daegu = df[df['city'] == '대구']['f1'].median()
ganggi = df[df['city'] == '경기']['f1'].median()
print(seoul,busan,daegu,ganggi)
# df['f1'] = df['f1'].fillna(df['city'].map({'서울':seoul,'경기':ganggi,'부산':busan,'대구':daegu}))
df['f1']=df['f1'].fillna(df['city'].map({"서울":seoul ,"경기":ganggi ,"대구":daegu ,"부산":busan ,}))

print(df['f1'].mean())

68.0 62.0 75.0 58.0
65.52

왜도랑 첨도 구하기 


주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오

In [21]:
import numpy as np
import pandas as pd
df = pd.read_csv("train (1).csv")

df['SalePrice'].head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [23]:
s1 = df['SalePrice'].skew()
k1 = df['SalePrice'].kurt()

df['SalePrice'] = np.log1p(df['SalePrice'])

s2 = df['SalePrice'].skew()
k2 = df['SalePrice'].kurt()

print(round(s1+s2+k1+k2,2))

1.81

조건에 맞는 데이터 표준편차 구하기


주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오

In [25]:
import numpy as np
import pandas as pd
df = pd.read_csv("basic1.csv")

df['f4'].head()

0    ENFJ
1    ENFJ
2    ISTJ
3    INFP
4    ISFJ
Name: f4, dtype: object

In [28]:
enfj = df[df['f4']=='ENFJ']
infp = df[df['f4']=='INFP']

enfj_std = enfj['f1'].std()
infp_std = infp['f1'].std()

print(abs(enfj_std-infp_std))

5.859621525876811

결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력


- 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오

In [45]:
import numpy as np
import pandas as pd
df = pd.read_csv("basic1.csv")

df['f1'].dropna()
df.isnull()
df2 = df.groupby(['city','f2']).sum()
df2.iloc[0]['f1']

833.0

'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오

In [9]:
import numpy as np
import pandas as pd
df = pd.read_csv("basic1.csv")

df.head()

df['f4'] = df['f4'].replace("ESFJ","ISFJ")
df[df['f4']=="ESFJ"] 
df2 = df[(df['city']=='경기') & (df['f4']=='ISFJ')]
df2['age'].max()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)

In [12]:
import numpy as np
import pandas as pd
df = pd.read_csv("basic1.csv")

df = df[df['f2'] == 1]['f1'].cumsum()

df.fillna(method='bfill').mean()

980.3783783783783

In [31]:
import numpy as np
import pandas as pd
df = pd.read_csv("basic1.csv")

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])

df['f5'].median()

0.260619629559015

주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [35]:
import numpy as np
import pandas as pd
df = pd.read_csv("basic1.csv")

from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
df['f5'] = scaler.fit_transform(df[['f5']])

Q1 = df['f5'].quantile(0.5)
Q2 = df['f5'].quantile(0.95)

print(Q1,Q2)

0.6128236917340967 0.9881662742993513

주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요 
 (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)

In [18]:
import pandas as pd
## 시간에 따라 접종률이 올라가기 떄문에 max 썼음
df = pd.read_csv("covid2.csv")
df = df.groupby('country').max()

df =df.sort_values('ratio',ascending=False)
df = df[df['ratio'] < 100]

top = df.head(10)['ratio'].mean()
bottom = df.tail(10)['ratio'].mean()

top-bottom

88.43435763856496