## 01. 작업준비
### 패키지 준비

In [2]:
import pandas as pd 
from sklearn.linear_model import LinearRegression

### 데이터 가져오기

In [3]:
origin= pd.read_excel('https://data.hossam.kr/E04/cars.xlsx')
origin.head()

   speed  dist
0      4     2
1      4    10
2      7     4
3      7    22
4      8    16

## #02. 지도학습 수행
### 분석 알고리즘을 포함하고 있는 객체 생성

In [4]:
model = LinearRegression()

In [5]:
origin[['dist']]

    dist
0      2
1     10
2      4
3     22
4     16
5     10
6     18
7     26
8     34
9     17
10    28
11    14
12    20
13    24
14    28
15    26
16    34
17    34
18    46
19    26
20    36
21    60
22    80
23    20
24    26
25    54
26    32
27    40
28    32
29    40
30    50
31    42
32    56
33    76
34    84
35    36
36    46
37    68
38    32
39    48
40    52
41    56
42    64
43    66
44    54
45    70
46    92
47    93
48   120
49    85

### 분석모델 학습
fit(독립변수, 종속변수)

직접 데이터를 파라미터로 전달 할 경우 2차원 배열로 설정해야함

아니면 완전한 데이터 프레임 형태로 전달해야함.

In [6]:
fit = model.fit(origin[['speed']],origin[['dist']])

### 학습결과 확인 & 회귀식

In [13]:
## 직선의 기울기 

coef = fit.coef_
## 절편 

intercept = fit.intercept_

print ('기울기: ',coef )

print('절편 : ',intercept )

print("y = {0:.2f} * X + {1:.2f}".format(coef[0][0],intercept[0]))

기울기:  [[3.93240876]]
절편 :  [-17.57909489]
y = 3.93 * X + -17.58

### 설명력

In [14]:
rscore = fit.score(origin[['speed']],origin[['dist']])
print('설명력 : ',rscore)

KeyError: "None of [Index(['speed'], dtype='object')] are in the [columns]"

### 회귀분석 결과 활용

#### 모델을 활용한 결과값 얻기

In [ ]:
speed = [[10],[15],[20],[25],[30],[35],[40]]
pred = fit.predict(speed)
pred

c:\Users\hamin\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[ 21.7449927 ],
       [ 41.4070365 ],
       [ 61.06908029],
       [ 80.73112409],
       [100.39316788],
       [120.05521168],
       [139.71725547]])

## 03. 다중 선형 회귀

### 데이터 가져오기

In [ ]:
origin= pd.read_excel('https://data.hossam.kr/E04/boston.xlsx')
origin.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1

### 데이터 전처리
머신러닝에서 데이터 전처리라 함은 독립변수와 종속변수를 분리하는 과정
#### 독립변수 추출

In [ ]:
x_train = origin.iloc[:,:12]
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90

In [ ]:
y_train = origin.loc[:,["MEDV"]]
y_train.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

#### 분석수행

In [15]:
model = LinearRegression()
fit = model.fit(x_train,y_train)

## 직선의 기울기 
coef = fit.coef_



## 절편 
intercept = fit.intercept_

print ('기울기: ', coef)

print('절편 : ',intercept )



print('설명력 : ',rscore)

기울기:  [[-1.59939124e-01  3.88736529e-02 -2.79218568e-02  3.21656919e+00
  -2.04845602e+01  6.12307209e+00 -4.59320518e-02 -1.55491228e+00
   2.81575033e-01 -1.17383824e-02 -1.01422283e+00  1.36208333e-02]]
절편 :  [20.65262802]
설명력 :  0.6510793807582509