# 데이터 전처리 연습문제

## 문제 1

네 종류의 식단 A1, A2, A3, A4에 따른 식이용법이 혈액응고시간에 영향을 주는지 알고자 실험한 자료가 다음과 같다.

인자의 수준을 나타내는 변수를 class로, 실습값을 time으로 하여 데이터를 구성하여라

In [1]:
import pandas as pd

In [ ]:
{"A1":[62,60,63,59,61],
                    "A2":[62,67,71,64,65,66],
                    "A3":[68,66,71,67,68,67,70],
                    "A4":[58,62,60,59,61,63,64]})

## 문제2

다음과 같은 두 개의 데이터를 하나로 합쳐서 엑셀 파일로 만들고자 한다. 코드를 작성하시오

In [11]:
df1 = pd.DataFrame({"ID":[25,27,30,35],"READ":[350,425,475,375],
                    "MATH":[425,375,485,400],"GRADE":[7,8,8,9]})
df2 = pd.DataFrame({"ID":[20,33,37],"READ":[250,325,300],
                    "MATH":[300,225,375],"GRADE":[7,9,9]})

new_data = pd.concat([df1,df2],ignore_index=True)

new_xlsx = new_data.to_excel("new_xlsx.xlsx", index=False)

## 문제3
다음은 한 도시의 20개 중,고교를 대상으로 조사한 흡연율 자료이다. 도시와 농촌별에 따른 남여 평균 흡연율을 확인할 수 있는 데이터 피벗테이블로 구성하시오.

In [19]:
data=pd.read_excel("https://data.hossam.kr/test/q3.xlsx")

pivot = pd.pivot_table(data,
                    index = '지역',
                    columns='구성',
                    values='흡연율',
                    aggfunc='mean')
pivot.drop("공학",axis=1)

구성      남         여
지역
농촌  0.745  0.463333
도시  0.792  0.507500

## 문제4

다음은 제주도 남녀 대학생의 개인정보 관리방법에 관한 설문조사 결과이다. 자료를 직접 입력하고 남녀별 메모의 종류별로 비율을 확인할 수 있는 데이터를 구성하여라

In [31]:
df =pd.read_excel("https://data.hossam.kr/test/q4.xlsx")

data = pd.DataFrame({"학생(ID)":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
"성별(sex)":["남","남","남","남","남","남","남","남","남","남","남","남","남","남","남","여","여","여","여","여","여","여","여","여","여","여","여","여","여","여"],
"메모 종류":[3,2,2,1,2,3,2,2,1,1,2,3,2,1,2,2,1,2,3,2,2,2,2,2,2,2,2,2,1,2]})

pd.crosstab(index=data["성별(sex)"],
            columns=data['메모 종류'],
            normalize = True,
            margins = True)

메모 종류           1         2         3  All
성별(sex)
남        0.133333  0.266667  0.100000  0.5
여        0.066667  0.400000  0.033333  0.5
All      0.200000  0.666667  0.133333  1.0