# DataFrame 

### #01. Pandas 개요

- 엑셀은 2만건 넘어가면 오래걸림 -> 데이터프레임 쓰는 이유 



### 1) DataFrame으로 변환 가능한 데이터 형태

- 2차원리스트
- 리스트를 원소로 갖는 딕셔너리
- 딕셔너리를 원소로 갖는 리스트
- csv + 엑셀파일
- SQL 데이터
- 웹데이터 수집

### #2) 필요한 패키지

In [2]:
import pandas as pd

### #3) 필요한 패키지

In [5]:
import pandas as pd

#### 1) 2차원리스트

In [11]:
grade_data = [ 
                [1,'남자',98,77,88,64],
                [2,'여자',99,15,84,35],
                [3,'남자',98,48,15,48],
                [2,'남자',98,48,15,48],
                [4,'여자',88,76,55,98]
                ]
df = DataFrame(grade_data)
i_names=['철수','영희','민철','수현','호영']

c_names=['햑년','성별','국어','영어','수학','사회']
df=DataFrame(grade_data,index=i_names,columns=c_names)
df

    햑년  성별  국어  영어  수학  사회
철수   1  남자  98  77  88  64
영희   2  여자  99  15  84  35
민철   3  남자  98  48  15  48
수현   2  남자  98  48  15  48
호영   4  여자  88  76  55  98

#### 2) 리스트를 원소로 갖는 딕셔너리

In [14]:
grade_dic = {
                "학년" : [1,2,3,2,4],
                "성별" : ["남자",'여자','남자','남자','여자'],
                "국어": [98,99,98,98,88],
                "영어": [77,15,48,48,76],
                "수학": [88,84,15,15,55],
                "사회": [64,35,48,48,98]
}

df2 = DataFrame(grade_dic)


df2 = DataFrame(grade_dic,index=['철수','영희','민철','수현','호영'])
print(df2)

    학년  성별  국어  영어  수학  사회
철수   1  남자  98  77  88  64
영희   2  여자  99  15  84  35
민철   3  남자  98  48  15  48
수현   2  남자  98  48  15  48
호영   4  여자  88  76  55  98

In [ ]:
df = pd.read_csv('웹페이지 주소',encoding='euc-kr',index_col="이름")

In [ ]:
df = pd.read_excel("주소",index_col="이름")