# SQL 활용 데이터 프레임 생성
- 파이선에서 판다스와의 연계를 위한 mysql과의 연동 방법은 pymysql , SQLAlchemy 가 가장 널리 사용된다

### #01. 패키지 참조

In [1]:
import pymysql
from sqlalchemy import create_engine
from pandas import DataFrame
from pandas import read_sql, read_sql_table

### #2) pymysql 사용


pymysql은 가장 기본적인 python과 mysql 연동 방법임


sql문 직접적으로 사용가능

#### 1) 데이터베이스 접속

In [2]:
dbcon = pymysql.connect(host="127.0.0.1",
                        port=3306,
                        user='root',
                        password="1234",
                        db='board',
                        charset='utf8')

#### 2) 데이터 조회
- 기본 사용 방법 

    테이블의 각 로코드를 튜블로 표현하는 리스트 객체를 얻을 수 있음
- 데이터 조회를 위한 커서 객체 생성

In [3]:
cursor = dbcon.cursor()

데이터 조회를 위한 sql문 처리

In [6]:
sql = "SELECT * FROM board_main_post"
cursor.execute(sql)
result = cursor.fetchall()
result
## 데이터 다루기 쉽지않음

((1,
  'Hello',
  '',
  datetime.datetime(2023, 6, 15, 1, 12, 51, 713605),
  datetime.datetime(2023, 6, 15, 1, 12, 51, 713605),
  None),
 (2,
  'adfas',
  'asdfa',
  datetime.datetime(2023, 6, 15, 1, 17, 7, 98997),
  datetime.datetime(2023, 6, 15, 1, 33, 48, 452545),
  None),
 (3,
  'bye',
  'byebye',
  datetime.datetime(2023, 6, 15, 1, 20, 5, 507947),
  datetime.datetime(2023, 6, 15, 1, 20, 5, 507989),
  None),
 (4,
  'ad',
  'adfa',
  datetime.datetime(2023, 6, 15, 1, 42, 52, 988855),
  datetime.datetime(2023, 6, 15, 1, 42, 52, 988855),
  None),
 (5,
  'sdfsge',
  'byebye',
  datetime.datetime(2023, 6, 15, 1, 51, 49, 762648),
  datetime.datetime(2023, 6, 15, 1, 51, 49, 763154),
  None),
 (6,
  'ㅁㄴㅇㄻ',
  'ㅁㄴㅇㄻ',
  datetime.datetime(2023, 6, 15, 2, 11, 50, 738427),
  datetime.datetime(2023, 6, 15, 2, 11, 50, 738427),
  None),
 (7,
  'Hello',
  'lunchlunchlunchlunch',
  datetime.datetime(2023, 6, 15, 2, 33, 39, 243533),
  datetime.datetime(2023, 6, 15, 5, 5, 32, 442247),
  None),
 (8,
  'dinner',
  'dinnerdinnerdinnerdinnerdinner',
  datetime.datetime(2023, 6, 15, 5, 27, 16, 268102),
  datetime.datetime(2023, 6, 15, 5, 27, 16, 268102),
  5),
 (9,
  'HelloHelloHelloHello',
  'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello',
  datetime.datetime(2023, 6, 15, 5, 28, 34, 702466),
  datetime.datetime(2023, 6, 15, 5, 28, 34, 702466),
  1),
 (10,
  'hwiwhiwhiwhi',
  'contents hwiwhiwhiwhi',
  datetime.datetime(2023, 6, 15, 5, 39, 37, 354586),
  datetime.datetime(2023, 6, 15, 5, 39, 37, 354586),
  1))

딕셔너리 형태로 데이터 조회하기

데이터 조회를 위한 커서를 다시 생성

In [12]:
cursor = dbcon.cursor(pymysql.cursors.DictCursor)

데이터조회하기

In [11]:
sql = "SELECT * FROM board_main_post"
cursor.execute(sql)
result = cursor.fetchall()
result

[{'id': 1,
  'title': 'Hello',
  'contents': '',
  'created_at': datetime.datetime(2023, 6, 15, 1, 12, 51, 713605),
  'updated_at': datetime.datetime(2023, 6, 15, 1, 12, 51, 713605),
  'author_id': None},
 {'id': 2,
  'title': 'adfas',
  'contents': 'asdfa',
  'created_at': datetime.datetime(2023, 6, 15, 1, 17, 7, 98997),
  'updated_at': datetime.datetime(2023, 6, 15, 1, 33, 48, 452545),
  'author_id': None},
 {'id': 3,
  'title': 'bye',
  'contents': 'byebye',
  'created_at': datetime.datetime(2023, 6, 15, 1, 20, 5, 507947),
  'updated_at': datetime.datetime(2023, 6, 15, 1, 20, 5, 507989),
  'author_id': None},
 {'id': 4,
  'title': 'ad',
  'contents': 'adfa',
  'created_at': datetime.datetime(2023, 6, 15, 1, 42, 52, 988855),
  'updated_at': datetime.datetime(2023, 6, 15, 1, 42, 52, 988855),
  'author_id': None},
 {'id': 5,
  'title': 'sdfsge',
  'contents': 'byebye',
  'created_at': datetime.datetime(2023, 6, 15, 1, 51, 49, 762648),
  'updated_at': datetime.datetime(2023, 6, 15, 1, 51, 49, 763154),
  'author_id': None},
 {'id': 6,
  'title': 'ㅁㄴㅇㄻ',
  'contents': 'ㅁㄴㅇㄻ',
  'created_at': datetime.datetime(2023, 6, 15, 2, 11, 50, 738427),
  'updated_at': datetime.datetime(2023, 6, 15, 2, 11, 50, 738427),
  'author_id': None},
 {'id': 7,
  'title': 'Hello',
  'contents': 'lunchlunchlunchlunch',
  'created_at': datetime.datetime(2023, 6, 15, 2, 33, 39, 243533),
  'updated_at': datetime.datetime(2023, 6, 15, 5, 5, 32, 442247),
  'author_id': None},
 {'id': 8,
  'title': 'dinner',
  'contents': 'dinnerdinnerdinnerdinnerdinner',
  'created_at': datetime.datetime(2023, 6, 15, 5, 27, 16, 268102),
  'updated_at': datetime.datetime(2023, 6, 15, 5, 27, 16, 268102),
  'author_id': 5},
 {'id': 9,
  'title': 'HelloHelloHelloHello',
  'contents': 'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello',
  'created_at': datetime.datetime(2023, 6, 15, 5, 28, 34, 702466),
  'updated_at': datetime.datetime(2023, 6, 15, 5, 28, 34, 702466),
  'author_id': 1},
 {'id': 10,
  'title': 'hwiwhiwhiwhi',
  'contents': 'contents hwiwhiwhiwhi',
  'created_at': datetime.datetime(2023, 6, 15, 5, 39, 37, 354586),
  'updated_at': datetime.datetime(2023, 6, 15, 5, 39, 37, 354586),
  'author_id': 1}]

조회결과를 데이터 프레임으로 변환

In [15]:
df = DataFrame(result)
df

,id,title,contents,created_at,updated_at,author_id
0,1,Hello,,2023-06-15 01:12:51.713605,2023-06-15 01:12:51.713605,NaN
1,2,adfas,asdfa,2023-06-15 01:17:07.098997,2023-06-15 01:33:48.452545,NaN
2,3,bye,byebye,2023-06-15 01:20:05.507947,2023-06-15 01:20:05.507989,NaN
3,4,ad,adfa,2023-06-15 01:42:52.988855,2023-06-15 01:42:52.988855,NaN
4,5,sdfsge,byebye,2023-06-15 01:51:49.762648,2023-06-15 01:51:49.763154,NaN
5,6,ㅁㄴㅇㄻ,ㅁㄴㅇㄻ,2023-06-15 02:11:50.738427,2023-06-15 02:11:50.738427,NaN
6,7,Hello,lunchlunchlunchlunch,2023-06-15 02:33:39.243533,2023-06-15 05:05:32.442247,NaN
7,8,dinner,dinnerdinnerdinnerdinnerdinner,2023-06-15 05:27:16.268102,2023-06-15 05:27:16.268102,5.0
8,9,HelloHelloHelloHello,HelloHelloHelloHelloHelloHelloHelloHelloHelloH...,2023-06-15 05:28:34.702466,2023-06-15 05:28:34.702466,1.0
9,10,hwiwhiwhiwhi,contents hwiwhiwhiwhi,2023-06-15 05:39:37.354586,2023-06-15 05:39:37.354586,1.0

데이터 프레임에 대한 인덱스 설정

In [22]:
df.index

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64', name='id')

#### 3) 입력 수정 삭제

In [25]:
sql = """INSERT INTO board_main_post (title,contents,created_at,updated_at)
 VALUES ('pandas','이것은 테스트 입니다.',now(),now())"""


print(sql)
rows = cursor.execute(sql)
print("%d개의 행이 저장됨. " % rows)
print("생성된 primary key : %d" % cursor.lastrowid)

dbcon.commit()

# 되돌리기 
# --> 이미 커밋한 내용은 롤백 x 
# dbcon.rollback()

INSERT INTO board_main_post (title,contents,created_at,updated_at)
 VALUES ('pandas','이것은 테스트 입니다.',now(),now())
1개의 행이 저장됨.
생성된 primary key : 11

데이터 수정

In [26]:
sql = """UPDATE board_main_post 
        SET title = "수정된 제목",
        contents='수정된 내용',
        updated_at = now()
        WHERE id=11"""
print(sql)

rows = cursor.execute(sql)
print("%d개의 행이 갱신됨. " % rows)
print("생성된 primary key : %d" % cursor.lastrowid)

dbcon.commit()

UPDATE board_main_post
        SET title = "수정된 제목",
        contents='수정된 내용',
        updated_at = now()
        WHERE id=11
1개의 행이 갱신됨.
생성된 primary key : 0

데이터 삭제

In [29]:
sql = "DELETE FROM board_main_post WHERE id > 10"
print(sql)

rows = cursor.execute(sql)
print("%d개의 행이 삭제됨" % rows)

dbcon.commit()

DELETE FROM board_main_post WHERE id > 10
1개의 행이 삭제됨

In [33]:
cursor.close()
dbcon.close()

### #2) SQLAlchemy 사용

#### 1) 데이터베이스 접속

데이터베이스 접속 패키지 설치

In [34]:
pymysql.install_as_MySQLdb()

import MySQLdb

접속문자열 생성

mysql+mysqldb://root:비밀번호@127.0.0.1:3306/board?charset=utf8

In [37]:
conStr = "mysql+mysqldb://root:1234@127.0.0.1:3306/board?charset=utf8"
conStr

'mysql+mysqldb://root:1234@127.0.0.1:3306/board?charset=utf8'

데이터베이스 접속하기

In [38]:
engine = create_engine(conStr)
conn = engine.connect()

#### 2) 데이터 조회하기

sql문 사용

In [40]:
df = read_sql("SELECT * FROM board_main_post", index_col='id',con=conn)
df

,title,contents,created_at,updated_at,author_id
id,,,,,
1,Hello,,2023-06-15 01:12:51.713605,2023-06-15 01:12:51.713605,NaN
2,adfas,asdfa,2023-06-15 01:17:07.098997,2023-06-15 01:33:48.452545,NaN
3,bye,byebye,2023-06-15 01:20:05.507947,2023-06-15 01:20:05.507989,NaN
4,ad,adfa,2023-06-15 01:42:52.988855,2023-06-15 01:42:52.988855,NaN
5,sdfsge,byebye,2023-06-15 01:51:49.762648,2023-06-15 01:51:49.763154,NaN
6,ㅁㄴㅇㄻ,ㅁㄴㅇㄻ,2023-06-15 02:11:50.738427,2023-06-15 02:11:50.738427,NaN
7,Hello,lunchlunchlunchlunch,2023-06-15 02:33:39.243533,2023-06-15 05:05:32.442247,NaN
8,dinner,dinnerdinnerdinnerdinnerdinner,2023-06-15 05:27:16.268102,2023-06-15 05:27:16.268102,5.0
9,HelloHelloHelloHello,HelloHelloHelloHelloHelloHelloHelloHelloHelloH...,2023-06-15 05:28:34.702466,2023-06-15 05:28:34.702466,1.0
10,hwiwhiwhiwhi,contents hwiwhiwhiwhi,2023-06-15 05:39:37.354586,2023-06-15 05:39:37.354586,1.0

테이블의 데이터를 직접가져오기


- 모든데이터 조회

In [42]:
df = read_sql_table('board_main_post',con=conn)
df

,id,title,contents,created_at,updated_at,author_id
0,1,Hello,,2023-06-15 01:12:51.713605,2023-06-15 01:12:51.713605,NaN
1,2,adfas,asdfa,2023-06-15 01:17:07.098997,2023-06-15 01:33:48.452545,NaN
2,3,bye,byebye,2023-06-15 01:20:05.507947,2023-06-15 01:20:05.507989,NaN
3,4,ad,adfa,2023-06-15 01:42:52.988855,2023-06-15 01:42:52.988855,NaN
4,5,sdfsge,byebye,2023-06-15 01:51:49.762648,2023-06-15 01:51:49.763154,NaN
5,6,ㅁㄴㅇㄻ,ㅁㄴㅇㄻ,2023-06-15 02:11:50.738427,2023-06-15 02:11:50.738427,NaN
6,7,Hello,lunchlunchlunchlunch,2023-06-15 02:33:39.243533,2023-06-15 05:05:32.442247,NaN
7,8,dinner,dinnerdinnerdinnerdinnerdinner,2023-06-15 05:27:16.268102,2023-06-15 05:27:16.268102,5.0
8,9,HelloHelloHelloHello,HelloHelloHelloHelloHelloHelloHelloHelloHelloH...,2023-06-15 05:28:34.702466,2023-06-15 05:28:34.702466,1.0
9,10,hwiwhiwhiwhi,contents hwiwhiwhiwhi,2023-06-15 05:39:37.354586,2023-06-15 05:39:37.354586,1.0

- 인덱스를 포함한 조회 (where 절 사용 불가)

In [43]:
df = read_sql_table('board_main_post',index_col='id',con=conn)
df

,title,contents,created_at,updated_at,author_id
id,,,,,
1,Hello,,2023-06-15 01:12:51.713605,2023-06-15 01:12:51.713605,NaN
2,adfas,asdfa,2023-06-15 01:17:07.098997,2023-06-15 01:33:48.452545,NaN
3,bye,byebye,2023-06-15 01:20:05.507947,2023-06-15 01:20:05.507989,NaN
4,ad,adfa,2023-06-15 01:42:52.988855,2023-06-15 01:42:52.988855,NaN
5,sdfsge,byebye,2023-06-15 01:51:49.762648,2023-06-15 01:51:49.763154,NaN
6,ㅁㄴㅇㄻ,ㅁㄴㅇㄻ,2023-06-15 02:11:50.738427,2023-06-15 02:11:50.738427,NaN
7,Hello,lunchlunchlunchlunch,2023-06-15 02:33:39.243533,2023-06-15 05:05:32.442247,NaN
8,dinner,dinnerdinnerdinnerdinnerdinner,2023-06-15 05:27:16.268102,2023-06-15 05:27:16.268102,5.0
9,HelloHelloHelloHello,HelloHelloHelloHelloHelloHelloHelloHelloHelloH...,2023-06-15 05:28:34.702466,2023-06-15 05:28:34.702466,1.0
10,hwiwhiwhiwhi,contents hwiwhiwhiwhi,2023-06-15 05:39:37.354586,2023-06-15 05:39:37.354586,1.0

- 특정 칼럼만 가져오기

In [44]:
df = read_sql_table('board_main_post',index_col='id',columns=['title','contents'],con=conn)
df

                   title                                           contents
id
1                  Hello
2                  adfas                                              asdfa
3                    bye                                             byebye
4                     ad                                               adfa
5                 sdfsge                                             byebye
6                   ㅁㄴㅇㄻ                                               ㅁㄴㅇㄻ
7                  Hello                               lunchlunchlunchlunch
8                 dinner                     dinnerdinnerdinnerdinnerdinner
9   HelloHelloHelloHello  HelloHelloHelloHelloHelloHelloHelloHelloHelloH...
10          hwiwhiwhiwhi                              contents hwiwhiwhiwhi

#### 3) 데이터 내보내기

- name = '테이블명' 이름으로 기존 테이블이 있으면 해당 테이블의 칼럼명에 맞게 데이터를 넣을 수 있음
- if_exists='append' 옵션이 있으면 기존 테이블에 데이터를 추가로 넣음
- if_exists='fail' 옵션이 있으면 기존 테이블이 있을경우 아무일도 하지않음
- if_exists='replace' 옵션이 있으면 기존 테이블이 있을 경우 기존테이블을 삭제하고 다시 테이블을 만들어서 새로 데이터를 넣음 

만들어진 테이블이 없으면 name='테이블명'으로 자동으로 테이블 생성, 데이터를 넣을 수 잇음


테이블이 자동으로 만들어지므로 테이블 구조가 최적화되어있지 않아 자동으로 테이블을 만드는 것을 추천하지 않음

In [45]:
df.to_sql(name='new_table',con=conn, if_exists='append',index=False)
conn.commit()

#### 4) 데이터 베이스 접속 해제

In [46]:
conn.close()