# DataFrame 확인하기
### #01. 패키지 참조

In [1]:
from pandas import read_excel, DataFrame

### #02. 데이터준비

In [4]:
df = read_excel('https://data.hossam.kr/grade.xlsx',index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

### #03. 데이터확인

#### 1) 데이터 구조 확인

In [11]:
## 데이터 차원 확인
print("데이터 차원 : ",df.ndim)

## 데이터 행,열 확인
print("데이터 행&열 : ", df.shape)

## 각 변수의 데이터 타입 확인
print( df.dtypes)

데이터 차원 :  2
데이터 행&열 :  (5, 6)
학년     int64
성별    object
국어     int64
영어     int64
수학     int64
과학     int64
dtype: object

#### 2) 데이터 내용 확인

In [26]:
## 열조회

print("열조회\n", df['국어'])
print('----------------------------------------------')
## 데이터의 행 조회
print("행조회\n", df.loc["철수"])
print('----------------------------------------------')
## 행에 대한 데이터 타입 확인

print("행에 대한 데이터 타입 \n", type(df.loc['철수']))
print('----------------------------------------------')
## 값 확인하기
print("값 확인하기\n", df['국어']["철수"])
print('----------------------------------------------')

## 값 확인하기 (행 -> 열순서)
print("값 확인하기 (행-> 열순서)\n", df.loc["철수",'국어'])
print('----------------------------------------------')

열조회
 이름
철수    100
영희     88
민철     92
수현     63
호영     75
Name: 국어, dtype: int64
----------------------------------------------
행조회
 학년      1
성별     남자
국어    100
영어     77
수학     88
과학     64
Name: 철수, dtype: object
----------------------------------------------
행에 대한 데이터 타입
 <class 'pandas.core.series.Series'>
----------------------------------------------
값 확인하기
 100
----------------------------------------------
값 확인하기 (행-> 열순서)
 100
----------------------------------------------
값 변경하기 (행-> 열순서만 가능)
 100
----------------------------------------------
상위 n건확인
     학년  성별   국어  영어  수학  과학
이름
철수   1  남자  100  77  88  64
영희   2  여자   88  90  62  72
하위 n건확인
     학년  성별  국어  영어  수학  과학
이름
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

In [31]:
## 값의 변경 : 행-> 열 순으로 접근하는 경우에만 가능함 
df.loc['철수','국어'] = 100
print("값 변경하기 (행-> 열순서만 가능)\n", df.loc["철수",'국어'])
print('----------------------------------------------')

## 상위 n 건 확인
print("상위 n건확인 \n", df.head(2))
print('----------------------------------------------')


## 하위 n 건 확인
print("하위 n건확인 \n", df.tail(2))
print('----------------------------------------------')


## 특정 열데 대한 데이터 빈도 수 확인
print("특정 열에 대한 데이터 빈도 수 확인 \n",df['성별'].value_counts())
print('----------------------------------------------')

값 변경하기 (행-> 열순서만 가능)
 100
----------------------------------------------
상위 n건확인
     학년  성별   국어  영어  수학  과학
이름
철수   1  남자  100  77  88  64
영희   2  여자   88  90  62  72
----------------------------------------------
하위 n건확인
     학년  성별  국어  영어  수학  과학
이름
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88
----------------------------------------------
특정 열에 대한 데이터 빈도 수 확인
 성별
남자    3
여자    2
Name: count, dtype: int64
----------------------------------------------

* 메모

1) 대상 컴퓨터의 ip주소를 알면 원격접속이 가능
2) 윈도우의 도커를 설치한 경우 윈도우에 접속한 포트를 도커의 포트로 포워딩함.
    
    -> 3406->3306

3) 윈도우에서 해당 포트를 열면(방화벽 해제) 외부에서 내 도커안에 접속가능.
4) ip확인 방법 : win : ipconfig