# DataFrame 내보내기 
- Excel 이나 csv 형식으로 저장
### #01. 패키지 참조

In [3]:
from pandas import read_excel

### #2) 데이터 가져오기

In [4]:
df = read_excel('https://data.hossam.kr/grade.xlsx',index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

### #3) 데이터 내보내기

##### 1) 엑셀파일로 내보내기

In [9]:
## 원본 파일 그대로 저장
df.to_excel("1.xlsx")

## 파라미터 설정 
## 인덱스를 포함하는 경우

df.to_excel("2.xlsx",index=True,index_label="이름")

## 인덱스를 포함하지 않는경우

df.to_excel("3.xlsx",index=False,columns=['학년','성별','국어'], header=['lv','gender','kor'])

##### 2) csv파일로 내보내기

In [11]:

## 원본 파일 그대로 저장
df.to_csv("1.csv",encoding = "utf-8")

## 파라미터 설정 
## 인덱스를 포함하는 경우

df.to_csv("2.csv",index=True,index_label="이름",encoding = "utf-8")

## 인덱스를 포함하지 않는경우

df.to_csv("3.csv",index=False,columns=['학년','성별','국어'], header=['lv','gender','kor'],encoding = "utf-8")

#### 실습 결과물 모두 삭제

In [12]:
import os
import glob as gl

list1=gl.glob("*.xlsx")
list2=gl.glob("*.csv")
list3=list1+list2
for items in list3 :
    os.remove(items)
    print("%s가 삭제됨" % items)

1.xlsx가 삭제됨
2.xlsx가 삭제됨
3.xlsx가 삭제됨
1.csv가 삭제됨
2.csv가 삭제됨
3.csv가 삭제됨