# 데이터 전처리

## #01. 패키지 참조

In [1]:
import numpy as np
import pandas as pd 

from matplotlib import pyplot as plt
import seaborn as sb

In [2]:
분석데이터 = pd.read_excel('분석데이터.xlsx')
분석데이터.head()

,기준_년_코드,기준_분기_코드,상권_코드,분기당_매출_금액,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,점포수,covid19,일과시간_금액,일과이후_금액,청년금액,중년금액,장년금액
0,2018,3,1000094,182447499,181667733,779766,81108758,83644304,5,0,66151380,116296119,10902631,153850431,0
1,2018,3,1000066,29160217,19442827,9717390,18910409,3478669,4,0,4182259,24977958,3923691,16685126,1780259
2,2018,3,1000061,155314528,152130813,3183715,117007487,9044514,1,0,106593580,48720948,37567976,10158739,78325286
3,2018,3,1000878,6170041,5705645,464396,570521,5599520,3,0,2473589,3696452,3605346,2157426,407269
4,2018,3,1000853,68405170,58206064,10199106,25402838,19718192,3,0,50288107,18117063,6488172,30182571,8450288